body {
  /* font-family: "Dancing Script", cursive; */
  /* width: 90%; */
  margin-left: 1%;
}

h1 {
  text-align: center;
  /* text-decoration: underline; */
  /* color: rgb(255, 0, 0); */
  font-size: 2rem;
  /* border: 1px solid blue; */
  padding: 15px;
  margin-top: 2rem;
}
option{
  width: 100%;
}